.h4fonte{
    font-family: 'Quicksand', sans-serif;
    font-size: 110%;
    text-align: center;
}

.h5fonte{
    font-family: 'Quicksand', sans-serif;
    font-size: 130%;
    font-weight: bold;
    text-align: center;
}

.navbar{
    font-family: 'Varela Round', sans-serif;
    font-size: 150%;
    font-weight: bold;
}

.img{
    width: 180px;
    height: 180px;
    border-style: solid;
    border-image-width: #000000;
    padding: 8px;
}

.foot{
    background-color: #2d2d30;
    margin: 0px;
    padding: 1.25em;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%
}

.foot2{
    background-color: #2d2d30;
    margin: 0px;
    padding: 1.25em;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%
}